<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cool RSS Feeder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1D17BB11DF0075000B70F4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1D17BC51DF0075000B70F4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1D17BD01DF0075100B70F4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
